.introduction-container {
	width: 32vw;
}

.introduction-container h1 {
    width: 60%;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-bottom: 5px;
}

.introduction-container p {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    color: hsl(303, 10%, 53%)
}

