.rate-item-container {
    border-radius: 6px;
    margin-bottom: 20px;
    width: 450px;
    text-align: center;
    background-color: hsl(290,30%,96.1%);
}

.star-icon {
    margin-right: 8px;
}

.rate-item-container p{
    display: inline-flex;
	margin-left: 20px;
    color:hsl(300, 43%, 22%);
    font-weight: bold;
}

@media screen and (max-width: 1280px) {
    .rate-item-container {
       width: 300px;
       padding: 10px;
   }

   .rate-item-container p {
       display: block;
   }
}