.rate-item-container {
    border-radius: 6px;
    margin-bottom: 20px;
    width: 450px;
    text-align: center;
    background-color: hsl(290,30%,96.1%);
}

/* .star-icon {
    width: 26px;
    height: 26px;
} */


.star-icon {
    margin-right: 8px;
}

.rate-item-container p{
    display: inline-flex;
	margin-left: 20px;
    /*font-size: 12px;*/
    color:hsl(300, 43%, 22%);
    font-weight: bold;
}