.feedback-preview-container {
	margin-top: 20px;
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: space-between;
}

.feedback-item:nth-child(1){
    align-self: flex-start;
}

.feedback-item:nth-child(2){
    align-self: center;
}

.feedback-item:nth-child(3){
    align-self: flex-end;
}

@media screen and (max-width: 1280px) {
	.feedback-preview-container {
	   display: flex;
	   flex-direction: column;
	   justify-content: space-between;
	   height: unset;
   }

   .feedback-item:nth-child(1){
	   align-self: center;
   }

   .feedback-item:nth-child(3){
	   align-self: center;
   }
}