.App {
	margin: 0 auto;
	padding: 130px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer {
	margin-top: 8px;
	font-size: 11px;
}

@media screen and (max-width: 1280px) {
	.App {
	   padding: 20px;
	   display: flex;
	   flex-direction: column;
	   flex-wrap: wrap;
	   justify-content: space-between;
	   width: min-content;
   }

   footer {
	font-size: 9px;
}
}
