html {
	background-image: url(/src/assets/bg-pattern-top-desktop.svg), url(/src/assets/bg-pattern-bottom-desktop.svg);
  	background-position: top left, bottom right;
  	 background-attachment: fixed;
  	background-repeat: no-repeat; 
}

body {
	margin: 0 auto;
  font-family:'Spartan', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
