.rate-preview-container {
	width: 40vw;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.rate-item {

}
.rate-item:nth-child(1) {
    align-self: flex-start;
}

.rate-item:nth-child(2) {
    align-self: center;
}

.rate-item:nth-child(3) {
    align-self: flex-end;
}
